@import "tailwindcss";

@theme inline {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-heading: "Mulish", sans-serif;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;
}

h1 {
  font-family: var(--font-heading);
}

.at-mark::before {
  font-family: "Material Icons", "Material Icons Outlined", sans-serif;
  content: "\e0e6";
}
